In [3]:
import os
os.environ["QUANDL_API_KEY"] = ""
from pandas_datareader import data as pdr
import datetime as dt
import sklearn
import numpy as np
import pandas as pd
import pandas_datareader
print(pandas_datareader.__version__)

0.10.0

In [4]:
start = dt.datetime(2024, 1, 1)
end = dt.datetime.now()
df = pdr.DataReader("AAPL", "quandl",start, end)

ValueError: The Quandl API key must be provided either through the api_key variable or through the environmental variable QUANDL_API_KEY.

In [5]:
import nasdaqdatalink
start = dt.datetime(2024, 1, 1)
end = dt.datetime.now()
mydata = nasdaqdatalink.get("WIKI/AAPL",start_date="2001-12-31", end_date="2005-12-31")

In [6]:
mydata.to_csv('testout.csv')

In [25]:
import quandl

ndq = quandl.get("NASDAQOMX/COMP-NASDAQ", 
              trim_start='2000-01-01', 
              trim_end=dt.datetime.now())

print(ndq)

            Index Value      High       Low  Total Market Value  \
Trade Date
2003-01-21      1364.25   1386.71   1364.25        2.002390e+09
2003-01-22      1358.23   1379.61   1358.23        1.993347e+09
2003-01-23      1393.67   1393.67   1365.11        2.045017e+09
2003-01-24      1340.22   1382.35   1340.22        1.966169e+09
2003-01-27      1320.32   1349.83   1320.32        1.936847e+09
...                 ...       ...       ...                 ...
2021-07-22     14684.60  14694.19  14617.87        2.348157e+13
2021-07-23     14836.99  14846.06  14698.77        2.373573e+13
2021-07-26     14840.71  14863.65  14790.49        2.375288e+13
2021-07-27     14660.58  14811.08  14503.76        2.349359e+13
2021-07-28          NaN      0.00      0.00                 NaN

            Dividend Market Value
Trade Date
2003-01-21           3.020000e+02
2003-01-22           3.534900e+04
2003-01-23           2.514000e+04
2003-01-24           1.974000e+03
2003-01-27           3.690000e+02
...                           ...
2021-07-22           6.653046e+07
2021-07-23           1.004150e+09
2021-07-26           1.619359e+08
2021-07-27           1.125870e+07
2021-07-28           2.360220e+06

[4669 rows x 5 columns]

In [26]:
ndq.to_csv('ndq.csv')

In [8]:
ndq = pd.read_csv('data/^IXIC.csv', index_col='Date', parse_dates=True)

In [11]:
ndq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-01-02,2011.079956,2022.369995,1999.770020,2006.680054,2006.680054,1666780000
2004-01-05,2020.780029,2047.359985,2020.780029,2047.359985,2047.359985,2362910000
2004-01-06,2044.550049,2061.540039,2039.630005,2057.370117,2057.370117,2273220000
2004-01-07,2056.750000,2078.090088,2047.020020,2077.679932,2077.679932,2294280000
2004-01-08,2089.600098,2100.250000,2078.050049,2100.250000,2100.250000,2683950000
...,...,...,...,...,...,...
2024-01-16,14908.259766,15004.349609,14863.809570,14944.349609,14944.349609,6386180000
2024-01-17,14814.769531,14865.759766,14706.230469,14855.620117,14855.620117,5181740000
2024-01-18,14994.519531,15066.809570,14911.110352,15055.650391,15055.650391,5587440000
2024-01-19,15122.379883,15310.969727,15087.200195,15310.969727,15310.969727,5604950000
2024-01-22,15393.049805,15438.849609,15333.629883,15360.290039,15360.290039,5456240000

In [9]:
ndq.isnull().values.any()

False

In [10]:
ndq[ndq.isna().any(axis=1)]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [13]:
fcst_history = 10 # steps in the past
fcst_horizon = 5 # steps in the future
valid_size   = 0.1 # int or float indicating the size of the training set
test_size    = 0.2  # int or float indicating the size of the test set

In [14]:
ndq_size = ndq.shape[0]
train_val_split = np.round(ndq_size*(1-valid_size-test_size))
val_test_split = np.round(ndq_size*(1-test_size))

In [15]:
train_ndq = ndq.iloc[np.arange(0,train_val_split).tolist()]
val_ndq = ndq.iloc[np.arange(train_val_split,val_test_split).tolist()]
test_ndq = ndq.iloc[np.arange(val_test_split,ndq_size).tolist()]

In [16]:
train_ndq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-01-02,2011.079956,2022.369995,1999.770020,2006.680054,2006.680054,1666780000
2004-01-05,2020.780029,2047.359985,2020.780029,2047.359985,2047.359985,2362910000
2004-01-06,2044.550049,2061.540039,2039.630005,2057.370117,2057.370117,2273220000
2004-01-07,2056.750000,2078.090088,2047.020020,2077.679932,2077.679932,2294280000
2004-01-08,2089.600098,2100.250000,2078.050049,2100.250000,2100.250000,2683950000
...,...,...,...,...,...,...
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000
2018-01-09,7174.189941,7181.140137,7148.299805,7163.580078,7163.580078,2155810000
2018-01-10,7129.830078,7154.240234,7111.520020,7153.569824,7153.569824,2132430000
2018-01-11,7168.729980,7211.779785,7163.229980,7211.779785,7211.779785,2015170000
2018-01-12,7208.169922,7265.259766,7205.180176,7261.060059,7261.060059,1986600000

In [17]:
val_ndq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-16,7307.189941,7330.330078,7205.930176,7223.689941,7223.689941,2399790000
2018-01-17,7257.770020,7309.359863,7229.319824,7298.279785,7298.279785,2245910000
2018-01-18,7293.649902,7313.890137,7276.109863,7296.049805,7296.049805,2037410000
2018-01-19,7312.000000,7336.379883,7297.279785,7336.379883,7336.379883,2005470000
2018-01-22,7338.040039,7408.029785,7332.810059,7408.029785,7408.029785,2118310000
...,...,...,...,...,...,...
2020-01-10,9232.950195,9235.200195,9164.660156,9178.860352,9178.860352,2382900000
2020-01-13,9213.719727,9274.490234,9193.059570,9273.929688,9273.929688,2536820000
2020-01-14,9270.610352,9298.330078,9226.490234,9251.330078,9251.330078,2553160000
2020-01-15,9253.759766,9298.820313,9231.139648,9258.700195,9258.700195,2443220000
2020-01-16,9313.450195,9357.919922,9301.320313,9357.129883,9357.129883,2312110000

In [18]:
test_ndq

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-17,9392.370117,9393.480469,9346.809570,9388.940430,9388.940430,2542540000
2020-01-21,9361.070313,9397.580078,9350.200195,9370.809570,9370.809570,2686610000
2020-01-22,9413.610352,9439.290039,9375.129883,9383.769531,9383.769531,2454580000
2020-01-23,9377.719727,9409.200195,9334.129883,9402.480469,9402.480469,2465850000
2020-01-24,9446.209961,9451.429688,9273.230469,9314.910156,9314.910156,2622970000
...,...,...,...,...,...,...
2024-01-16,14908.259766,15004.349609,14863.809570,14944.349609,14944.349609,6386180000
2024-01-17,14814.769531,14865.759766,14706.230469,14855.620117,14855.620117,5181740000
2024-01-18,14994.519531,15066.809570,14911.110352,15055.650391,15055.650391,5587440000
2024-01-19,15122.379883,15310.969727,15087.200195,15310.969727,15310.969727,5604950000
2024-01-22,15393.049805,15438.849609,15333.629883,15360.290039,15360.290039,5456240000

In [22]:
from data_provider.data_factory import data_provider
from exp.exp_basic import Exp_Basic
from layers.PatchTST_backbone import PatchTST_backbone
from utils.tools import EarlyStopping, adjust_learning_rate, visual, test_params_flop
from utils.metrics import metric

import numpy as np
import torch
import torch.nn as nn
from torch import optim
from torch.optim import lr_scheduler 

import argparse
import random
import os
import time

import warnings
import matplotlib.pyplot as plt
import numpy as np

In [24]:

# initialize model parameters
c_in:int
context_window:int
target_window:int
patch_len:int
stride:int
max_seq_len:[int]=1024 #Optional
n_layers:int=3
d_model=128
n_heads=16
d_k:[int]=None #Optional
d_v:[int]=None #Optional
d_ff:int=256
norm:str='BatchNorm'
attn_dropout:float=0.
dropout:float=0.
act:str="gelu"
key_padding_mask:bool='auto'
res_attention:bool=True
pre_norm:bool=False
store_attn:bool=False
pe:str='zeros'
learn_pe:bool=True
fc_dropout:float=0.
head_dropout = 0
padding_patch = None,
pretrain_head:bool=False
head_type = 'flatten'
individual = False
revin = True
affine = True
subtract_last = False
verbose:bool=False

# load model parameters
c_in = 5
context_window = 30
target_window = 5

n_layers = 2
n_heads = 8
d_model = 64
d_ff = 2048
dropout = 0.0
fc_dropout = 0.0
head_dropout = 0.0

patch_len = 5
stride = 1
padding_patch = 'end'

revin = 1
affine = 1
subtract_last = 0

decomposition = 1
kernel_size = 5

In [27]:
data_set, data_loader = data_provider(flag='train')

TypeError: data_provider() missing 1 required positional argument: 'args'